.odd {
    background-color: rgb(247, 115, 159);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}

.font-size {
    font-size: 24px;
}