.primeira,
.segunda {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
.primeira {
    color: white;
    background-color: black;
}
.segunda {
    background-color: yellow;
}